/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.docsButton {
  background-color: var(--ifm-link-color);
  border: 2px solid #ffffff;
  color: #ffffff;
}

.docsButton:hover {
  background-color: var(--ifm-link-hover-color);
  border-color: #ffffff;
  color: #ffffff;
}

[data-theme='dark'] .docsButton,
[data-theme='dark'] .docsButton:hover {
  color: var(--ifm-color-primary-contrast-foreground);
}